## Assignment #2 (Git, GitHub, ML) 

### Name : Aditya Bommireddipalli                               
### Subject : AI in Enterprise Systems                                
### Student Id : 100892785                                             
### Dataset : https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(diagnostic)

In [1]:
# Importing Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Loading the dataset

cancer_df = pd.read_csv("C:/Users/adity/OneDrive/Desktop/breast-cancer-wisconsin.data")
cancer_df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [3]:
# naming columns

cancer_df.columns = ["Sample code number","Clump Thickness","Uniformity of Cell Size","Uniformity of Cell Shape","Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","Class"]

cancer_df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

# Getting the data

In [4]:
# Dataset info

cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           698 non-null    int64
 1   Clump Thickness              698 non-null    int64
 2   Uniformity of Cell Size      698 non-null    int64
 3   Uniformity of Cell Shape     698 non-null    int64
 4   Marginal Adhesion            698 non-null    int64
 5   Single Epithelial Cell Size  698 non-null    int64
 6   Bare Nuclei                  698 non-null    object
 7   Bland Chromatin              698 non-null    int64
 8   Normal Nucleoli              698 non-null    int64
 9   Mitoses                      698 non-null    int64
 10  Class                        698 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

In [5]:
cancer_df.describe()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.980000e+02,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000
mean,1.071807e+06,4.416905,3.137536,3.210602,2.809456,3.217765,3.438395,2.869628,1.590258,2.690544
std,6.175323e+05,2.817673,3.052575,2.972867,2.856606,2.215408,2.440056,3.055004,1.716162,0.951596
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.702582e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238354e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [6]:
# Checking for Missing Values

cancer_df.isnull().sum()

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

## Missing values are entered with "?" so we are not getting any values above, let's replace ? with nan values

In [7]:
cancer_df.replace("?",np.nan,inplace=True)

In [8]:
# checking for missing values again
cancer_df.isnull().sum()

Sample code number              0
Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [9]:
# Dropping the rows with missing values
cancer_df.dropna(inplace=True)

In [10]:
cancer_df.isnull().sum()

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [11]:
# Checking for duplicate values
cancer_df.duplicated().sum()

8

In [12]:
# Shape of dataset
cancer_df.shape

(682, 11)

In [13]:
# Removing the duplicate

cancer_df.drop_duplicates(inplace=True)
cancer_df.shape

(674, 11)

# Replacing 2 and 4 in class values as 0 and 1 for binary classification

In [14]:
# Binary Encoding

cancer_df['Encoded_Binary_Class']= cancer_df['Class'].apply(lambda x: 1 if x>3 else 0)
cancer_df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Encoded_Binary_Class
0,1002945,5,4,4,5,7,10,3,2,1,2,0
1,1015425,3,1,1,1,2,2,3,1,1,2,0
2,1016277,6,8,8,1,3,4,3,7,1,2,0
3,1017023,4,1,1,3,2,1,3,1,1,2,0
4,1017122,8,10,10,8,7,10,9,7,1,4,1

In [15]:
#Removing class column as we added encoded class 
cancer_df.drop('Class',axis=1,inplace=True)
cancer_df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Encoded_Binary_Class
0,1002945,5,4,4,5,7,10,3,2,1,0
1,1015425,3,1,1,1,2,2,3,1,1,0
2,1016277,6,8,8,1,3,4,3,7,1,0
3,1017023,4,1,1,3,2,1,3,1,1,0
4,1017122,8,10,10,8,7,10,9,7,1,1

In [16]:
# Value Counts
cancer_df['Encoded_Binary_Class'].value_counts()

0    438
1    236
Name: Encoded_Binary_Class, dtype: int64

In [17]:
# converting object column 'Bare Nuclei' into numeric colum
cancer_df['Bare Nuclei']= pd.to_numeric(cancer_df['Bare Nuclei'])

# Split the data into 80% training set and 20% testing set, and printing the shape of X_train, y_train, X_test, and y_test

In [18]:
# Splitting data into training and test dataset

X = cancer_df.drop('Encoded_Binary_Class',axis=1)
y = cancer_df['Encoded_Binary_Class']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scaling the train and test dataset
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Shape of training and test dataset
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(539, 10) (539,) (135, 10) (135,)

# Model Building

In [19]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(random_state=42)

# Training the model
model.fit(X_train,y_train)

LogisticRegression(random_state=42)

In [20]:
# Making Predictions from outcome of test data

y_pred = model.predict(X_test)

# Accuracy of the model 

accuracy = accuracy_score(y_test,y_pred)

print("The Accuracy of Logistic Regression is : ",accuracy)

The Accuracy of Logistic Regression is :  0.9703703703703703